.custom_option_header {
    margin-top: 10px !important;
}
.custom_options {
    margin: 5px 0;
}
.custom_options .custom_option {
    display: inline-block;
    padding: 0 5px 0 0;
    line-height: 22px;
}
.custom_options .custom_option a {
    text-decoration: none;
    color: #000;
    border: 1px solid #efefef;
    border-radius: 24px;
    padding: 10px;
    background-color: #fff;
    display: inline-block;
}
.custom_options .custom_option a.active {
    border-color: #559cff;
    background-color: rgba(85, 156, 255, .3);
}
.custom_options .custom_option a.active .color_block {
    border-color: #559cff;
    background-color: rgba(85, 156, 255, .3);
}
.custom_options .custom_option .color_block {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    float: left;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    border: 1px solid #fff;
}
